Django==4.2.16
Pillow==10.4.0
reportlab==4.2.2
requests==2.34.2
psycopg2-binary==2.9.9
dj_database_url==2.1.0
whitenoise==6.6.0
django-cloudinary-storage==0.3.0
cloudinary==1.41.0
django-background-tasks
urllib3==1.26.18
charset-normalizer==3.3.0

# Pasarelas de pago
stripe==7.12.0
paypal-checkout-serversdk==1.0.1